@model IEnumerable<WowCarry.Domain.Entities.Product>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Products</title>
</head>
<body>   
    <div class="panel-heading">
        <h1>Admin Products</h1>
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        <div class="save-btns">
            @Html.ActionLink("Create New", "CreateEdit", new { type = "Product" }, new { @class = "btn" })
        </div>
    </div>
    

    <table class="table products-list-table">
        <thead>
            <tr class="title">
                <th>Название</th>
                <th class="text-center">Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>

                <td> @Html.ActionLink(item.ProductName, "CreateEdit", new { Id = item.ProductId, type = item.GetType().BaseType.Name })</td>
                <td class="text-center">
                    @Html.ActionLink("Remove", "Remove", new { Id = item.ProductId, type = item.GetType().BaseType.Name })
                    @Html.ActionLink("Product Options", "ProductOptionsEdit", new { productId = item.ProductId }, new { @class = "btn" })
                </td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>
