<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/js/admin-script.js" asp-append-version="true"></script>
    @*<script src="~/Scripts/ckeditor/ckeditor.js"></script>*@
    <link rel="icon" href="~/images/icon-site.png" type="image/x-icon">

    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">

    <link href="~/css/StylesAdmin.css" rel="stylesheet" asp-append-version="true" />

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" asp-fallback-href="~/css/font-awesome.min.css" asp-fallback-test-class="fa" rel="stylesheet" />

</head>
<body>

    <div class="cover">
        <div class="left-column">
            <div class="column-in">
                @*@if (User.Identity.IsAuthenticated)
                {*@
                    <div class="title"><span class="nav-ico ico0"></span> <span class="text-menu">Navigation</span> </div>
                    <ul class="list-unstyled">

                        <li><span class="menu-ico ico1"></span><span class="text-menu"> @Html.RouteLink("Home", "AdminItem", new { Action = "Admin" })</span></li>
                        @*@if (User.IsInRole("Root Admin") || User.IsInRole("Admin"))
                        {*@
                            <li><span class="menu-ico ico2"></span><span class="text-menu"> @Html.ActionLink("Products", "List", "Admin", new { type = "Product"  }) </span></li>
                            <li><span class="menu-ico ico3"></span><span class="text-menu"> @Html.ActionLink("TemplateOptions", "List","Admin", new {type = "TemplateOption" }) </span></li>
                            <li class="dropdown">
                                <span class="menu-ico ico4"></span>
                                <span class="text-menu"><a>Catalog</a></span>
                                <ul class="dropdown-menu">
                                    <li><span class="menu-ico ico4-1"></span><span class="text-menu"> @Html.ActionLink("Product Games","List", "Admin", new {  type = "ProductGame" })</span></li>
                                    <li><span class="menu-ico ico4-2"></span><span class="text-menu"> @Html.ActionLink("Product Category", "List", "Admin", new { type = "ProductCategory" })</span></li>
                                    <li><span class="menu-ico ico4-3"></span><span class="text-menu"> @Html.ActionLink("Product SubCategory", "List", "Admin", new {  type = "ProductSubCategory" })</span></li>
                                </ul>
                            </li>
                            <li><span class="menu-ico ico5"></span><span class="text-menu"> @Html.ActionLink("Html Blocks", "List", "Admin", new {  type = "HtmlBlocks" }) </span></li>
                            <li><span class="menu-ico ico6"></span><span class="text-menu"> @Html.ActionLink("SEO", "List", "Admin", new {  type = "SEO" }) </span></li>
                            <li><span class="menu-ico ico7"></span><span class="text-menu"><a> Coupons</a> </span></li>
                            <li><span class="menu-ico ico8"></span><span class="text-menu">@Html.ActionLink("Orders", "List", "Admin", new {  type = "Orders" })</span></li>
                            <li><span class="menu-ico ico9"></span><span class="text-menu">@Html.ActionLink("Users", "List", "Admin", new { type = "Users" }) </span></li>
                            <li><span class="menu-ico ico10"></span><span class="text-menu">@Html.ActionLink("Ranks", "List", "Admin", new {  type = "Ranks" }) </span></li>
                            <li><span class="menu-ico ico11"></span><span class="text-menu">@Html.ActionLink("Customers", "List", "Admin", new {  type = "Customers" })</span></li>
                            <li><span class="menu-ico ico12"></span><span class="text-menu">@Html.ActionLink("Roles", "List", "Admin", new {  type = "Roles" })</span></li>
                            <li><span class="menu-ico ico13"></span><span class="text-menu">@Html.ActionLink("Article", "List", "Admin", new {  type = "Article" })</span></li>
                            

                        @*}
                        else if (User.IsInRole("Price Admin"))
                        {
                            <li><span class="menu-ico ico2"></span><span class="text-menu"> @Html.RouteLink("Products", "AdminItem", new { Action = "List", type = "Product" }) </span></li>
                        }*@
                    </ul>
                @*}*@
            </div>
                
        </div>
        <div class="content">
            <div class="head-block">
                <div class="logo-head"><a href="/"><img src="/Images/logo.svg" alt="logo"></a></div>
                <div class="site-link"><a href="/"></a></div>
                <div class="login-user">Hello @User.Identity.Name @Html.ActionLink("Logout", "Logout", "Login")</div>
                <div class="clear"></div>
            </div>
            <div class="content-block">
                @RenderBody()
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <footer>
    </footer>
</body>
</html>

