@model HtmlBlock

@using (Html.BeginForm("SaveHtmlBlock", "Admin", FormMethod.Post))
{
    <div class="panel-heading">
        <div class="save-btns">

            <input type="submit" value="Save" class="btn" id="SubmitOption" />
            @Html.ActionLink("Exit", "Admin", null, new { @class = "btn btn-default exitBtn" })
        </div>
    </div>
    <div class="panel-body">
        @Html.HiddenFor(x => Model.SiteBlockId)
        @Html.ValidationSummary()
        <div class="ParentTitlek">
            <label>Parent Title:</label>
            @Html.TextBox(Model.ParentTitle, null, new { @class = "textarea-desc", maxlength = 10 })
        </div>
        <div class="input-block">
            <label>Parent Css Class:</label>
            @Html.TextArea(Model.ParentCssclass, null, new { @class = "textarea-desc", maxlength = 10 })
        </div>
        <div class="input-block">
            <label>Child Css Class:</label>
            @Html.TextArea(Model.ChildCssclass, null, new { @class = "textarea-desc", maxlength = 10 })
        </div>
        <div class="input-block">
            <label>Site Page:</label>
            @Html.TextBox(Model.SitePage, null, new { @class = "textarea-desc", maxlength = 10 })
        </div>
        <div class="childblock-list">
            @if (Model.HtmlBlocksChildren != null)
            {
                foreach (var child in Model.HtmlBlocksChildren)
                {
                }
            }
        </div>
    </div>
        <div class="siteblock-add btn">Add</div>
        <div class="panel-footer">
        <div class="save-btns">
            <input type="submit" value="Save" class="btn" id="SubmitOption" />
            @Html.ActionLink("Exit", "Admin", null, new { @class = "btn btn-default exitBtn" })
        </div>
    </div>
}

