@model Article
@using (Html.BeginForm("SaveArticle", "Admin", FormMethod.Post))
{
    <div class="panel-heading">
        <div class="save-btns">
            <input type="submit" value="Save" class="btn" id="SubmitOption" />
            @Html.ActionLink("Exit", "Admin", null, new { @class = "btn btn-default exitBtn" })
        </div>
    </div>
    <div class="panel-body">
        @Html.HiddenFor(x => Model.ArticleId)
        <div class="input-block">
            <label>Title:</label>
            @Html.TextArea(Model.Title, null, new { @class = "textarea-desc" })
        </div>
        <div class="input-block">
            <label>ShortDescription:</label>
            @Html.TextArea(Model.ShortDescription, null, new { @class = "textarea-desc", maxlength = 10 })
        </div>
        <div class="input-block">
            <label>Description:</label>
            @Html.TextArea(Model.Description, null, new { @class = "textarea-desc" })
        </div>
        <div class="input-block">
            <label>ReadTime:</label>
            @Html.TextBox(Model.ReadTime, null, new { @class = "textarea-desc" })
        </div>
        <div class="input-block">
            <label>Tags:</label>
            @Html.TextBox(Model.Tags, null, new { @class = "textarea-desc" })
        </div>
        <div class="input-block">
            <label>Enabled:</label>
            @Html.CheckBoxFor(m => m.Enabled)
        </div>
        <div class="input-block">
            <label>Meta tag title:</label>
            @Html.DropDownListFor(m => m.Seoid, ViewBag.MetaTagTitleList as SelectList, htmlAttributes: new { @class = "TestClass" })
            @Html.HiddenFor(m => m.Seoid)
        </div>
        <div class="input-block">
            <label>Select Game:</label>
            @Html.DropDownList("ProductGameId", ViewBag.GamesList as SelectList, new { @class = "TestClass" })
            @Html.HiddenFor(m => m.ProductGameId)
        </div>
        <div class="imageBlock">
            <div class="upload-box">
                <label for="ImagePath">Upload Image:</label>
                <label for="ImagePath" class="upload-btn btn">Upload</label>
                <input type="file" name="file" id="ImagePath" class="ArticleImageUpload" style="display:none;" />
            </div>
            <div class="img-prew">
                <label for="file">Product Image Path</label>
                <div class="imgPrewIn">
                    <img class="imgArticle" src="@Model.ImagePath" />
                </div>
                @Html.HiddenFor(m => m.ImagePath, new { @readonly = "readonly" })
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="save-btns">
            <input type="submit" value="Save" class="btn" id="SubmitOption" />
            @Html.ActionLink("Exit", "Admin", null, new { @class = "btn btn-default exitBtn" })
        </div>
    </div>
}
