<div class="clear-footer"></div>
    </div>

<footer>

    <div class="container">
        <div class="row">
            <div class="logo_foot">
                <a href="/"><img src="~/Images/logo.svg" alt="logo" /></a>
            </div>

            <div class="clear"></div>
            <span class="main_blocks">
                <div class="col-sm-3 foot_menu">
                    <div class="title">Information</div>
                    <ul class="list-unstyled">
                        <li> @Html.ActionLink("About Us", "AboutUs", "Home")</li>
                        <li> @Html.ActionLink("Contacts", "Contacts", "Home")</li>
                        <li> @Html.ActionLink("F.A.Q", "FAQ", "Home")</li>
                        <li> @Html.ActionLink("Privacy Policy", "Privacy", "Home")</li>
                        <li> @Html.ActionLink("Terms & Conditions", "Terms", "Home")</li>
                        <li> @Html.ActionLink("CarryCoins", "CarryCoins", "Home")</li>
                    </ul>
                </div>

                <div class="col-sm-3 footer_category">
                    <div class="title">Games</div>
                    <ul class="list-unstyled">
                        @await Component.InvokeAsync("GameMenu")
                    </ul>
                </div>
                <div class="social_footer">
                    <div class="title">Social links</div>
                    <a href="skype:live:wowcarryshop?chat"><img src="/Images/mainImages/skype.svg" alt="skype" class="img-responsive"><span>&#64;wowcarryshop</span> </a>
                    <div class="disc_link">
                        <img src="/Images/mainImages/discord.svg" alt="discord" class="img-responsive"> <span>WowCarry#0001</span>
                        <div class="text_block" style="opacity: 0; z-index: -9;">
                            <p style="text-align: center;font-size:20px;">Code copied!</p>
                            <p style="text-align: center;font-size:20px;">Add us to your friends list :)</p>
                            <p style="text-align: center;"><br></p><p style="text-align: center;">Contact us fast via discord any time. We are available 24/7</p>
                            <div class="hidden_input"><input type="text" value="WowCarry#0001"></div>
                        </div>
                    </div>
                    <a href="https://twitter.com/wow_carry" target=" _blank"><img src="/Images/mainImages/twitter.svg" alt="twitter" class="img-responsive"><span>&#64;wow_carry</span></a>
                    <a href="https://www.facebook.com/wowcarry" target=" _blank"><img src="/Images/mainImages/facebook.svg" alt="facebook" class="img-responsive"><span>&#64;wowcarry</span></a>
                    <a href="https://www.instagram.com/wow_carry" target=" _blank"><img src="/Images/mainImages/instagram.svg" alt="instagram" class="img-responsive"><span>&#64;wow_carry</span> </a>
                    <a href="https://t.me/wowcarry" target=" _blank"><img src="/Images/mainImages/telegram_foot.svg" alt="instagram" class="img-responsive"><span>&#64;wowcarry</span> </a>
                </div>
                
            </span>
            <div class="clear"></div>
            <div class="pow">
                <p>WowCarry.com - Ingame boosting services 2020 ©</p>
                <p>All trademarks referenced herein are the properties of their respective owners.</p>
            </div>
            <div class="payment_accept">
                <div class="title">Payments we accept:</div>
                <span><img src="/Images/mainImages/PayPal_2014_logo.svg" alt="paypal" class="img-responsive"></span>
                <span><img src="/Images/mainImages/Discover-02.svg" alt="discover" class="img-responsive"></span>
                <span><img src="/Images/mainImages/Visa_2014_logo_detail 1.svg" alt="visa" class="img-responsive"></span>
                <span><img src="/Images/mainImages/Mastercard-logo.svg" alt="mastercard" class="img-responsive"></span>
            </div>
        </div>
    </div>
</footer>
<script src="~/js/accardeon.js" asp-append-version="true"></script>
<script>
    //discord copy link
    function hideText() {
        $(".social_footer .disc_link .text_block").css({ "opacity": "0", "z-index": "-9" });
    }
    $(".social_footer .disc_link").on("click", function () {
        var copyText = $(".hidden_input input");
        copyText.select();
        document.execCommand("copy");
        $(".social_footer .disc_link .text_block").css({ "opacity": "1", "z-index": "1" });
        setTimeout(hideText, 5000);
    });
    $(document).mouseup(function (e) {
        var container = $(".social_footer .disc_link .text_block");
        if (container.has(e.target).length === 0) {
            container.css({ "opacity": "0", "z-index": "-9" });
        }
    });

    //footer menu
    $(".foot_menu .title").on("click", function () {
        if ($(".foot_menu").hasClass("active_menu")) {
            $(".foot_menu").removeClass("active_menu");
        } else {
            $(".foot_menu").addClass("active_menu");
        }
    });
    $(".footer_category .title").on("click", function () {
        if ($(".footer_category").hasClass("active_menu")) {
            $(".footer_category").removeClass("active_menu");
        } else {
            $(".footer_category").addClass("active_menu");
        }
    });
</script>
