@model IEnumerable<IGrouping<string,KeyValuePair<string,string>>>
    

        <div class="select-games-block category-games">
            <h2>Professional Gaming Boosting Services</h2>
            <div class="games-list">
                <div class="games-list-in">
                    @foreach (var game in Model)
                    {
                        <div class="game-item @game.Key">

                            <div class="title">@game.Key</div>
                            @Html.RouteLink("+", "GameDetails", new { currentGame = game.Key }, new { @class = ("main-link-mobile") })
                            <div class="links-list">
                                @Html.RouteLink("Show Services", "GameDetails", new { currentGame = game.Key }, new { @class = ("main-link") })
                                @foreach (var b in game)
                                {
                                    @Html.RouteLink(b.Value, "Sorted", new { selectedGame = game.Key, categoryName = b.Value })
                                }
                            </div>
                        </div>

                    }
                    <div class="game-item Heartstone coming-soon">
                        <div class="main-link-mobile"></div>
                        <div class="title"><span>Heartstone</span></div>
                        <div class="desc"><span>Coming soon</span></div>
                    </div>
                </div>
            </div>
        </div>
