@model ProductCategory

@using(Html.BeginForm("SaveProductCategory", "Admin", FormMethod.Post))
{
    <div class="panel-heading">
        <div class="save-btns">
    
            <input type="submit" value="Save" class="btn" id="SubmitOption" />
            @Html.ActionLink("Exit", "Admin", null, new { @class = "btn btn-default exitBtn" })
        </div>
    </div>

    <div class="panel-body">
        @Html.HiddenFor(x => Model.ProductCategoryId)
            <div class="input-block">
                <label>Product Category Name:</label>
                @Html.TextBox(Model.ProductCategoryName)
            </div>
            <div class="input-block">
                <label>Category Description:</label>
                @Html.TextBox(Model.CategoryDescription)
            </div>
            <div class="input-block">
                <label>Meta tag title:</label>
                @Html.DropDownListFor(m => m.CategorySeoId, ViewBag.MetaTagTitleList as SelectList, htmlAttributes: new { @class = "TestClass" })
                @Html.HiddenFor(m => m.CategorySeoId)
            </div>
            <div class="input-block">
                <label>Game Name:</label>
                @Html.DropDownList("ProductGameId", ViewBag.GamesList as SelectList, htmlAttributes: new { @class = "TestClass" })
                @Html.HiddenFor(m => m.ProductGameId)
            </div>
    </div>

    <div class="siteblock-add btn">Add</div>

    <div class="panel-footer">
        <div class="save-btns">
            <input type="submit" value="Save" class="btn" id="SubmitOption" />
            @Html.ActionLink("Exit", "Admin", null, new { @class = "btn btn-default exitBtn" })
        </div>
    </div>
    }

