@model  Customer
@*using (Html.BeginForm("SaveCustomers", "Admin", FormMethod.Post))
{*@
    <div class="panel-heading">
        <div class="save-btns">

            <input type="submit" value="Save" class="btn" id="SubmitOption" />
            @Html.ActionLink("Exit", "Admin", null, new
       {
           @class = "btn btn-default exitBtn"
       })
        </div>
    </div>
    <div class="panel-body">
        @Html.HiddenFor(x => Model.CustomerId)
        <div class="input-block">
            <label>Name:</label>
            @Html.TextBox(Model.Name)
        </div>
        <div class="input-block">
            <label>Password:</label>
            @Html.Password(Model.Password)
        </div>
    </div>
    <div class="panel-footer">
        <div class="save-btns">

            <input type="submit" value="Save" class="btn" id="SubmitOption" />
            @Html.ActionLink("Exit", "Admin", null, new
       {
           @class = "btn btn-default exitBtn"
       })
        </div>
    </div>
