@model Article



<div class="blog-article">
    <div class="info_article">
        <div class="image img-article" style="background:url(@Url.Content(string.Format("~/" + Model.ImagePath)))no-repeat; background-size: 110%; background-position: center 10%;">
        </div>
        <div class="article_title">
            <div class="tag">
                @foreach (var tag in Model.Tags.Split(','))
                {
                    @Html.ActionLink(tag, "TagSearch", new { Tag = tag })
                }
            </div>

            <div class="title-information">
                <h1>
                    @Model.Title
                </h1>
                <div class="date">
                    @Model.ArticlePostTime.ToString("MMMM dd, yyyy")

                    <span class="readtime">
                        @Model.ReadTime
                    </span>
                </div>
            </div>
        </div>
    </div>


    <article class="description">
        @Html.Raw(HttpUtility.HtmlDecode(@Model.Description))

    </article>
    <div class="stop-fix-nav"></div>
</div>
<script>
    $(document).ready(function () {
        //to comment link
        var pathname = window.location.href;

        $('.tocomment a').attr('href', pathname + "#form_review");
        $('.tocomment a').on('click', function (event) {
            event.preventDefault();
            var top = $("#form_review").offset().top;
            $('body,html').animate({ scrollTop: top }, 500);
        })

        //navigation article
        var linkspathname = window.location.href;
        $('.navigation-article li a').each(function () {
            var link = $(this).attr('href');
            $(this).attr('href', linkspathname + link);

            $(this).on('click', function (event) {
                event.preventDefault();
                var top = $(link).offset().top;
                $('body,html').animate({ scrollTop: top }, 100);
            });
        });

        //tabs in article
        $('.tabs-titles div:first').addClass('active');
        $('.tabs-desc div:first').addClass('active-tab');
        $('.tabs-titles div').on('click', function () {
            var nameTab = $(this).attr('class');
            console.log(nameTab);
            if ($(this).hasClass('active')) {
            } else {
                $('.tabs-titles div').removeClass('active');
                $('.tabs-desc div').removeClass('active-tab');
                $(this).addClass('active');
                $("#" + nameTab).addClass('active-tab');
            }
        });
        //fixed navigation article

        var element = $(".navigation-in");
        var height_el = element.offset().top;
        var stopFixed = $(".stop-fix-nav").offset().top;
        var stopFixedVal = (stopFixed - element.outerHeight() - 50).toFixed();

        $(window).scroll(function () {
            if ($(window).scrollTop() > height_el) {
                element.addClass("fixed");
            } else {
                element.removeClass("fixed");
            }
            if ($(window).scrollTop() >= stopFixedVal) {
                element.addClass("absolute");
            } else {
                element.removeClass("absolute");
            }
        });

    });
</script>