@model List<Product>

@foreach (var Product in Model)
{
    <div class="product-layout d-inline-block">
        <div class="product-thumb">
            <a href="@Url.Action("Details","ProductDetails",new {productUrl= Product.ProductSeo.UrlKeyWord})">
                <div class="image">
                    <img src="@Product.ProductImageThumb"alt="@Product.ProductName" />
                    <div class="clear"></div>
                </div>
                <div class="caption">
                    <h4>@Product.ProductName</h4>
                    <p class="price">
                        @Product.ProductPrices.Select(p => p.Price).FirstOrDefault()
                    </p>
                </div>
            </a>
        </div>
    </div>
}
