@using HtmlHelpers

@model IEnumerable<Product>
<div id="product-category" class="container">
    <h1>@ViewData["CurrentCategory"]</h1>

    <div class="product-list">
        @foreach (var p in @Model)
        {
            //if(p.InStock) Если товар в стоке добавить ! перед p Если надо что товар оут оф сток
            //    if (p.ProductEnabled) товар активен не уверен что надо тут. Могу на уровне контроллера сортировать
            //        if (p.PreOrder) если товар является преордером


            <div class="product-layout d-inline-block">
                <div class="product-thumb">
                    <a href="@Url.Action("Details","ProductDetails",new {productUrl= p.ProductSeo.UrlKeyWord})">
                        <div class="image">
                            <img src="@p.ProductImageThumb" alt="@p.ProductName" />
                            <div class="clear"></div>
                        </div>
                        <div class="caption">
                            <h4>@p.ProductName</h4>
                            <p class="price">
                                @*TODO: GET REGION FOR PRICE*@
                                @p.ProductPrices.Select(pr => pr.UsPrice).FirstOrDefault()
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
    @*<div class="container">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @Html.PageLinks(ViewData["PagingInfo"], x => Url.Action("List", new { categoryName = ViewData["CurrentCategory"], page = x }))
            </ul>
        </nav>
    </div>*@
    @*описание категории*@
    @*@if (@Model.productCategory != null)
        {
            <div class="description">

                @Model.productCategory.CategoryDescription
            </div>
        }*@
</div>